[submodule "device/firmware/tinyusb"]
	path = device/firmware/tinyusb
	url = https://github.com/hathach/tinyusb.git
[submodule "viewer/src/lib/uplot"]
	path = viewer/src/lib/uplot
	url = https://github.com/leeoniya/uPlot.git
