name: Build bundled HTML

on:
  push:
    branches:
      - '**'
    paths:
      - 'viewer/**'
  workflow_call:
  workflow_dispatch:
  
jobs:
  build-html:
    name: Build html
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
    - uses: actions/setup-node@v4
      with:
        node-version: 22
        cache: npm
        cache-dependency-path: viewer/package-lock.json
    - run: |
        cd viewer
        npm ci
        npm run build:single
        mv dist-single/index.html fsk-energymeter.html
    - uses: actions/upload-artifact@v4
      with:
        name: html
        path: viewer/fsk-energymeter.html
